:root{
    --branco: #ffff;
    --gelo: #f1f1f1;
    --azul: #1d63e4;
    --preto: #2a2a2a;
    --cinza: #7e7e7e;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.toolbar-inner{
        font-family: "Bebas Neue", sans-serif;
}

.toolbar{
    height: 80px;
}

.tab-link-active{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner{
    background: var(--branco);
    border-top:1px solid var(--gelo)
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;    
    color: var(--azul)
}

.toolbar-inner .link:not(.active){
    color: var(--preto);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 30px;
}

.top-nav{
    width: 100%;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.title-logo{
    font-weight: 600;
    margin-left: 5%;
}

.searchbar {
    padding-top: 15px;
    background: var(--branco);
    padding-bottom: 0px;
    font-size: 18px;
    position: relative;
}

.inputsearch {
    border-radius: 25px;
    padding: 10px 20px;
    border: 1px solid var(--preto);
    margin-right: 5%;
    margin-left: 5%;
}

.inputsearch input {
    width: 90%;
    height: 60px;
    padding: 10px 20px;
}
::placeholder{
    color: #b3afaf
}

.icone-busca{
    position: absolute;
    top: 22px;
    right: 6%;
    font-size: 27px;
    padding: 13px;
    color: var(--preto);
}

.page-content{
    background: var(--branco);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-wrapper{
    border-bottom:1px solid var(--gelo);
    padding-bottom: 15px;
  }

  .profissao-container {
    text-align: center; /* Centralizar o conteúdo horizontalmente */
    margin-top: 0px;
}

.Profissa-img {
    display: block; /* Certifica-se de que a imagem não tem margem inferior */
    max-width: 100px;
    width: auto;
    height: auto;
    margin: 0 auto 10px; /* Centralizar a imagem horizontalmente e adicionar espaçamento na parte inferior */
}

.Profissa-title {
    font-size: 18px;
    color: var(--cinza);
}

.ri-user-5-line {
    width: 140px;
    height: 40px;
    background-color: var(--gelo);
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
    margin-right: 5%;
    border-radius: 15px;
    font-size: 24px;
    color: var(--cinza);
}

.faz-login {
    position: absolute;
    top: 0%;
    left: calc(40%); /* Posiciona o texto à direita do ícone com uma margem */
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: var(--cinza);
}


.container-login {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5%;
}
